.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #412fb3;
    padding: 20px 0;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    width: 100px;
}
.header-navs {
    width: calc(100% - 344px);
    display: flex;
    justify-content: flex-end;
}
.header-navs__item {
    font-family: inherit;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.header-navs__item:not(:last-child) {
    margin-right: 40px;
}
.header-navs__item:hover {
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.4s;
}
.header__button {
    width: 144px;
}